body {
	background-color: #e9eaeb;
	font: normal 100% Verdana, Helvetica, sans-serif;
	color: #000;
	margin: auto;
	padding: 0;
	text-align: center;
	overflow-y: auto;
	overflow-x: hidden;
	list-style-type: none;
	width: 100%;
}

body.dark {
	background-color: #1b1b1b;
	color: #DED9D9;
}

/* This table crap is to get the contents to vertically align, since they won't otehrwise :( */
#table {
  display: table;
  height: 100%;
  width: 100%;
}
#page {
  display: table-cell;
  vertical-align: middle;
}

/* General CSS */
ul li {
	color: #333333;
	list-style-type: none;
	font-size: 0.9em;
	font-weight: bold;
	margin: 2px;
	padding: 5px 0 2px 19px;
}
.dark ul li {
	color: #efefef;
}
a {
	color: inherit;
	text-decoration: none;
}
p, br {
	clear: both;
	font-size: 0.7em;
	padding-left: 10px;
}
p a:hover {
	text-decoration: underline;
}
ul {
	padding: 0; margin: 0;
}
h1 {
	font-size: 1.3em;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	margin: 0;
	padding: 0;
}
h3 {
	font-size: 0.9em;
	color: #217a86;
	font-weight: bold;
	margin: 0;
}
h3.dark {
	color: #30b1c2;
}
hr {
	width: 75%;
	height: 1px;
	border: 0;
	background-color: #d9dadb;
	margin: 1em auto;
}
